.apresentacao {
  margin-top: 100px;
}

.apresentacao-infos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.apresentacao-infos img {
  display: block;
  width: 400px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #000;
}

.apresentacao-infos p {
  font-family: "Noto Sans", sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 35px;
  color: #000;
  margin-bottom: 20px;
}

@media (max-width: 576px) {
  .apresentacao {
    margin-top: 70px;
  }
  .apresentacao-infos {
    grid-template-columns: 1fr;
  }
  .apresentacao-infos img {
    width: 300px;
    margin: 0 auto;
  }
  .apresentacao-infos p {
    font-size: 18px;
    text-align: center;
  }

  .apresentacao-text {
    grid-row: 1;
    padding-bottom: 50px;
  }
}
