.apresentacao {
  margin-top: 150px;
}

.apresentacao-infos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.apresentacao-infos img {
  display: block;
  width: 400px;
  border-radius: 5px;
}

.apresentacao-infos p {
  font-family: "Noto Sans", sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 35px;
  color: #000;
  margin-bottom: 20px;
}
