.emocional {
  margin-top: 100px;
  background-image: linear-gradient(to top, #0a0420, #755ec5, #0a0420);
}

.emocional-conteudo {
  padding: 50px 0px;
}

.emocional-conteudo h2 {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.56rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 30px;
  color: #755ec5;
}

.emocional-conteudo p {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  color: #755ec5;
}

.emocional-box {
  background-color: #fff;
  padding: 50px 100px;
  margin: 50px 50px;
  border-radius: 20px;
  border: 2px solid #755ec5;
  box-shadow: 0px 0px 10px #000;
}

@media (max-width: 576px) {
  .emocional-conteudo h2 {
    font-size: 1.25rem;
  }
  .emocional-conteudo p {
    font-size: 1rem;
  }

  .emocional-box {
    padding: 50px 50px;
  }
}

@media (max-width: 400px) {
  .emocional-conteudo h2 {
    font-size: 1.125rem;
  }
  .emocional-conteudo p {
    font-size: 0.93rem;
  }
  .emocional-box {
    padding: 30px 30px;
  }
}
