.feedback {
  margin-top: 100px;
}

.feedback-title {
  width: 700px;
  margin: 0 auto;
}

.feedback h2 {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.875rem;
  font-weight: 700;
  color: #755ec5;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 50px;
}

.feedback img {
  padding-bottom: 70px;
}

.feedback-btn {
  display: flex;
  justify-content: center;
}

.feedback-btn a {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 15px 50px;
  border-radius: 30px;
  color: #fff;
  background-color: #755ec5;
}

.feedback-btn a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  background: #fff;
  margin-top: 4px;
  transition: 0.3s;
}

.feedback-btn a:hover::after {
  width: 100%;
}

@media (max-width: 576px) {
  .feedback-title {
    width: 500px;
  }
  .feedback h2 {
    font-size: 1.56rem;
  }

  .feedback-btn a {
    font-size: 0.93rem;
  }
}

@media (max-width: 400px) {
  .feedback-title {
    width: 300px;
  }
  .feedback h2 {
    font-size: 1.25rem;
  }
  .feedback-btn a {
    text-align: center;
  }
}
