.footer-bg {
  background-image: url("../imgs/fundos/footer-blur4.png");
  border-top: 2px solid #fff;
  padding: 50px 0px;
}

.footer-conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.footer-conteudo h2 {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  text-align: center;
  color: #fff;
  padding-bottom: 20px;
}

.footer-conteudo a {
  font-family: "Noto Sans", sans-serif;
  font-size: 0.93rem;
  font-weight: 500;
  color: #fff;
}

.footer-logo {
  width: 100px;
}

.redes-sociais img,
.contato img {
  width: 40px;
}

.redes-icon,
.contato-icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

@media (max-width: 576px) {
  .footer-conteudo h2 {
    font-size: 0.875rem;
  }
  .footer-logo {
    width: 70px;
  }
  .redes-sociais img,
  .contato img {
    width: 25px;
  }
  .redes-sociais h2,
  .contato h2 {
    font-size: 1rem;
  }
  .redes-icon,
  .contato-icon {
    flex-wrap: wrap;
    gap: 15px;
  }
}

@media (max-width: 400px) {
  .redes-sociais h2,
  .contato h2 {
    display: none;
  }
}
