.funcionamento {
  margin-top: 100px;
}

.funcionamento-conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  align-items: center;
}

.funcionamento-texto span {
  color: #755ec5;
}

.funcionamento-texto h2 {
  font-family: "Noto Sans", sans-serif;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 30px;
  color: #000;
}

.funcionamento-texto p {
  font-family: "Noto Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  padding-bottom: 20px;
  text-align: center;
  color: #000;
}

.funcionamento-img {
  display: flex;
  justify-content: center;
}

.funcionamento-img img {
  transform: rotateY(180deg);
}

.funcionamento-resultado-bg {
  background-image: linear-gradient(to top, #0a0420, #755ec5, #0a0420);
  margin-top: 100px;
}

.funcionamento-resultado {
  padding: 100px 0px;
}

.resultado-textos h2 {
  font-family: "Noto Sans", sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 20px;
  color: #fff;
}

.resultado-textos h3 {
  font-family: "Noto Sans", sans-serif;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 30px;
  color: #fff;
}

.resultado-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  padding-top: 100px;
}

.resultado-cards p {
  font-family: "Noto Sans", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
  text-align: center;
  color: #fff;
}

.resultado-cards img {
  margin: 0 auto;
  padding-bottom: 15px;
  width: 80px;
}

.cards {
  max-width: 250px;
  background-color: #755ec5;
  padding: 30px 30px;
  border-radius: 10px;
  border: 2px solid #fff;
  box-shadow: 0px 0px 5px #000;
}
