.sintomas-infos {
  margin-top: 50px;
}

.sintomas-infos h2 {
  font-family: "Noto Sans", sans-serif;
  font-size: 30px;
  font-weight: 800;
  text-align: center;
  padding-bottom: 30px;
  color: #8a40ba;
}

.sintomas-infos h3 {
  font-family: "Noto Sans", sans-serif;
  font-size: 25px;
  font-weight: 800;
  text-align: center;
  padding: 20px 30px;
  text-transform: uppercase;
  color: #fff;
  background-color: #8a40ba;
  border-radius: 10px;
  box-shadow: 0px 5px 2px rgba(138, 64, 186, 0.8),
    0px -5px 2px rgba(138, 64, 186, 0.8);
}

.sintomas-infos-lista li {
  font-family: "Noto Sans", sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 30px;
  padding-bottom: 25px;
  padding-top: 30px;
  border-bottom: 2px solid #8a40ba;
}
