.sintomas-infos {
  margin-top: 70px;
}

.sintomas-infos-titles {
  display: block;
}

.sintomas-infos-titles h2 {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.875rem;
  font-weight: 800;
  text-align: center;
  padding-bottom: 30px;
  color: #755ec5;
}

.sintomas-infos-titles h3 {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.56rem;
  font-weight: 800;
  text-align: center;
  padding: 20px 30px;
  margin-top: 30px;
  margin-bottom: -50px;
  position: relative;
  text-transform: uppercase;
  color: #fff;
  background-color: #755ec5;
}

.sintomas-infos-lista {
  padding-top: 150px;
}

.sintomas-lista-1,
.sintomas-lista-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  align-items: center;
  padding-bottom: 70px;
}

.sintomas-infos-lista p {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.12rem;
  font-weight: 500;
  padding-bottom: 15px;
  color: #fff;
}

.sintomas-infos-lista img {
  border-radius: 5px;
  border: 2px solid #fff;
  box-shadow: 0px 0px 10px #000;
}

.fundo-sintomas {
  background-image: linear-gradient(to top, #0a0420, #755ec5, #0a0420);
}

@media (max-width: 576px) {
  .sintomas-infos-titles h2 {
    font-size: 1.56rem;
  }
  .sintomas-infos-titles h3 {
    font-size: 1.12rem;
    margin-bottom: -70px;
  }
  .sintomas-infos-lista {
    padding-top: 125px;
    text-align: center;
  }
  .sintomas-lista-1,
  .sintomas-lista-2 {
    grid-template-columns: 1fr;
    gap: 50px;
  }
  .sintomas-lista-1 img,
  .sintomas-lista-2 img {
    width: 450px;
    margin: 0 auto;
  }
  .sintomas-infos-lista p {
    font-size: 1rem;
  }
  .sintomas-img {
    grid-row: 2;
  }
}

@media (max-width: 400px) {
  .sintomas-infos-titles h2 {
    font-size: 1.25rem;
  }
  .sintomas-infos-titles h3 {
    font-size: 0.93rem;
  }
  .sintomas-infos-lista p {
    font-size: 0.93rem;
  }
  .sintomas-lista-1 img,
  .sintomas-lista-2 img {
    width: 350px;
  }
}
